<h1>Redes sociales más usadas</h1>
<hr>
<div *ngIf="doughnutChartData.datasets.length === 0; else divChart" class="alert alert-info">
    Cargando data...
</div>
<ng-template #divChart>
    <div class="row">
        <div class="col">
            <div style="display: block">
                <canvas baseChart
                [data]="doughnutChartData"
                [options]="barChartOptions"
                [type]="doughnutChartType">
                </canvas>
            </div>
            <span class="float-end text-primary">Información en billones de usuarios</span>
        </div>
    </div>    
</ng-template>

